<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="modalProduct" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body p-0">


                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-header bg-transparent pb-1">
                        <div class="text-muted text-center mt-2 mb-3">
                            <h2>Editar Produto</h2>
                        </div>
                    </div>

                    <!-- Body -->
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Altere as informações no formulário abaixo</small>
                        </div>

                        <form class="formEditProduct" role="form">
                            <!-- Nome -->
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-box-open"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Nome do produto" name="name" type="text">
                                </div>
                            </div>

                            <!-- Preço -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Preço" name="price" type="text">
                                </div>
                            </div>

                            <!-- Marca // -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-copyright"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Marca do produto" name="brand" type="text">
                                </div>
                            </div>

                            <!-- Barcode // -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-bars"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Código de barras" name="barcode"
                                        type="text">
                                </div>
                            </div>

                            <!-- Estoque // -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-cubes"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Estoque" name="stock" type="text">
                                </div>
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Atualizar</button>
                            </div>
                        </form>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>