<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegister"
    aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">

            <div class="modal-body p-0">


                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-header bg-transparent pb-1">
                        <div class="text-muted text-center mt-2 mb-3">
                            <h2>Registrar Novo Usuário</h2>
                        </div>
                    </div>

                    <!-- Body -->
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <small>Preencha o formulário abaixo para criar um novo usuário</small>
                        </div>

                        <form class="formRegister" role="form">
                            <!-- Nome -->
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Nome do Usuário" name="name" type="text">
                                </div>
                            </div>

                            <!-- Preço -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Usuário" name="user" type="text">
                                </div>
                            </div>

                            <!-- Password // -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Senha do usuário" name="password"
                                        type="password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tipo de usuário</label>
                                <select class="form-control" name="type" id="exampleFormControlSelect1">
                                    <option value="operator">operador</option>
                                    <option value="admin">administrador</option>
                                </select>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-4">Cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>