body.cadastro
    .backdrop
        display none

.footerSign
    background-color color-primary
    background-image url('/img/brand/footer-background.gif')
    background-repeat: no-repeat
    background-position: center right 
    height 100px
    position absolute
    bottom 0
    left 0
    width 100%

    text-align center
    font-size .875rem
    color: #fff

    display flex
    justfy-content center
    align-items center

    @media screen and (max-width: 776px)
        height auto
        padding 10px 0
        margin-top: 20px

    ul
        display flex
        list-style: none
        flex-wrap: wrap
        font-size: 12px;
        font-weight: 600
        font-family: 'Open Sans',sans-serif

        li
            padding 0 15px
            height: 34px
            position relative

            hr
                border-color: #00a9ce
                border-width: 2px
                width: 30px
                bottom 0
                left 0
                background-color transparent
                margin 0
                height 0

            .btn-footer
                background: 0 0
                border: 2px solid rgba(255,255,255,.6)
                border-radius: 30px
                color: #fff
                padding: 4px 15px
                font-weight: 400
                font-family: 'Open Sans',sans-serif
                display flex
                justify-content: center
                align-items: center
                margin 0 10px

                i
                    margin-right: 5px;
                    font-size: 20px


    p
        color: rgba(0,0,0,.45)
        font-size .75rem