 #modalLetter

    .modal-content
        border-radius: 5px
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%)

    .modal-body
        @media screen and (max-width: 776px)
            padding 0 5px

    .modal-footer
        justify-content: center

    .modal-title
        font-size: 18px;
        font-weight: 600;
        color: #013f54;
        border-bottom: 1px solid #ccc;
        padding: 10px 20px 15px 0;
        margin: 10px 20px 20px;
        display: block;
        min-height: 50px
        width 100%

.saveLetter
    background-color: #b9b9b9!important;
    border-color: #b9b9b9!important;
    color: #fff;
    cursor: default
    font-size: 14px
    font-weight: 700
    min-width: 160px
    border-radius: 25px;
    padding: 8px 14px;
    border: 2px solid #00a9ce;
    font-size: 14px

    &.active
        background-color: #fff !important
        border-color: #00a9ce !important
        color: #00a9ce;

 .cancelLetter
    background-color: #fff;
    color: #00a9ce;
    border-radius: 25px;
    padding: 8px 18px;
    font-size: 14px;
    border: 2px solid #00a9ce;
    font-family: 'Open Sans',sans-serif
    font-weight: 700

    &:hover
        background-color: #e7fafd

.letterModal
    width 100%
    max-width: 400px
    margin 0 auto

   

    

    > header
        background-color: #f3f3f3
        margin-bottom 20px
        position relative
        border-left: 10px solid #00a9ce
        border-radius: 3px;
        border-top-left-radius: 3px;

        &:after
            width: 10px;
            height: 10px;
            background-color: #00a9ce;
            position: absolute;
            left: -5px;
            bottom 15px
            content: '';
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    span
        display: flex
        color: #175c7d
        font-weight: 600
        font-size: 12px
        min-width: 78px
        padding: 15px 0 5px 8%
        align-items: center
        text-transform: uppercase

        button
            border: none;
            position: relative;
            height: 20px;
            width: 30px;
            appearance: none
            background-color: transparent

            i
                font-size: 20px
                color: #444

        i
            color: #175c7d
            margin 0 5px

        input
            width: 20px;
            height: 20px;
            border: 1px solid #7f858a;
            float: left;
            line-height: 15px;
            text-align: center;
            margin: 5px 2px 0;
            padding: 2px 5px