{{>components/topbar}}

<main>

    <div class="main-form">

        {{>components/form-top}}

        <form class="main-form-login password">

            <input type="hidden" name="id" value="{{client.id}}">

            {{>components/heynumber}}
            {{>components/phrase}}
            
            <div class="row">
                <div class="col-12 submit-form text-right">
                    <a href="/modules/conta">Cancelar Acesso</a>
                    <button>Entrar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="protect">
        Protegido por reCAPTCHA-  <a href="https://policies.google.com/terms?hl=pt-BR">Privacidade - Condições</a>
    </div>

</main>
{{>components/footer}}
{{>components/modalLetter}}
