.main-form-login 
    
    &.card
        padding: 20px   
        
        input
            font-size 16px  

        .btn
            background-color #94B2BD
            color #fff
            border 0
            width 100%
            margin-top 20px
            box-shadow none
            font-size 16px