.timeOperator,
.statusOP
    font-weight 700

.snippet-device
    display flex
    padding 5px
    justify-content: center
    align-items: center
    color #fff
    font-weight: 400
    font-size: 14px
    text-transform: uppercase
    background-color: #2dce89
    border-radius: 4px