
/* html
    scroll-behavior: smooth */
html
    height 100%

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;

html, body
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-smoothing: antialiased !important

body
    position relative
    font-size 16px

.container
    max-width 1280px

@font-face 
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima nova/ProximaNova-Regular.otf')/*Para navegadores Internet Explorer*/;
    font-weight: 400;
    font-style: normal;
@font-face 
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima nova/Proxima Nova Bold.otf') /*Para os demais navegadores*/;
    font-weight: 700;
    font-style: normal;
@font-face 
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima nova/Proxima Nova Bold.otf') /*Para os demais navegadores*/;
    font-weight: 600;
    font-style: normal;
@font-face 
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima nova/Proxima Nova Thin.otf') /*Para os demais navegadores*/;
    font-weight: 300;
    font-style: normal;

@font-face 
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima nova/Proxima Nova Light.otf') /*Para os demais navegadores*/;
    font-weight: 200;
    font-style: normal;

color-background = #cfdee4
color-primary = #165c7d
color-secondary = #175c7d
color-secondary-hover = #007eb5
color-danger = #f04449
color-text-gray = #a9a9a9
color-text-op = #d6d6d6

family-font = Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif

h1
    font-size 2rem
h2
    font-size 1.5rem