<style>
            @-webkit-keyframes appcues-beacon-pulse {
                0% {
                    stroke-width: 22;
                    -moz-transform: scale(0.1);
                    -ms-transform: scale(0.1);
                    -webkit-transform: scale(0.1);
                    transform: scale(0.1);
                }
                25% {
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    stroke-width: 0.5;
                }
                30% {
                    stroke-width: 0;
                }
                100% {
                    stroke-width: 0;
                }
            }
            @-moz-keyframes appcues-beacon-pulse {
                0% {
                    stroke-width: 22;
                    -moz-transform: scale(0.1);
                    -ms-transform: scale(0.1);
                    -webkit-transform: scale(0.1);
                    transform: scale(0.1);
                }
                25% {
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    stroke-width: 0.5;
                }
                30% {
                    stroke-width: 0;
                }
                100% {
                    stroke-width: 0;
                }
            }
            @keyframes appcues-beacon-pulse {
                0% {
                    stroke-width: 22;
                    -moz-transform: scale(0.1);
                    -ms-transform: scale(0.1);
                    -webkit-transform: scale(0.1);
                    transform: scale(0.1);
                }
                25% {
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    stroke-width: 0.5;
                }
                30% {
                    stroke-width: 0;
                }
                100% {
                    stroke-width: 0;
                }
            }
        </style>
        <style type="text/css">
        .data-emotion
            @-webkit-keyframes animation-5f1q21 {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes animation-5f1q21 {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @-webkit-keyframes animation-ibxp9g {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            @keyframes animation-ibxp9g {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
        <div id="__next">
            <div class="styles__Header-sc-qcomiu-0 cRWkdh">
                <div class="sc-fzoXzr SmmfA">
                    <a href="https://conta.stone.com.br/" class="sc-fzoXzr fTsDlC styles__StyledRebassLink-sc-ih9nbu-0 bgoZSk">
                        <img
                            src="/img/logo.svg"
                        />
                    </a>
                </div>
                <div class="sc-fzoXzr fTsDlC"></div>
            </div>
            <div class="sc-fzoXzr cUFlXB">
                <div class="styles__Container-sc-ymif9o-0 wuWrs">
                    <div class="sc-fzoiQi fmwZlB">
                        <div class="sc-fzqNqU dhRZKa center" min="300px">
                            <div class="sc-fzoXzr sc-fzpjYC fjfMqF">
                                <svg width="435" height="534" viewBox="0 0 435 534" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="150" y="70" width="135" height="233" fill="white"></rect>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M274.808 336.775C289.419 335.87 292.956 324.378 292.961 317.811H293V59.1508H292.928C293.329 52.8619 290.265 40.0562 274.808 39.0985C264.481 38.5452 240.381 37.4293 221.148 37.0742C220.312 37.0158 219.411 36.9911 218.44 37.0029C218.122 37.0067 217.802 37.0108 217.481 37.0152C217.159 37.0108 216.84 37.0067 216.522 37.0029C215.551 36.9911 214.649 37.0158 213.813 37.0742C194.58 37.4293 170.48 38.5452 160.154 39.0985C144.696 40.0562 141.633 52.8619 142.033 59.1508H142V317.795V317.811C142.006 324.378 145.543 335.868 160.154 336.774C170.475 337.327 194.557 338.442 213.785 338.797C214.629 338.857 215.54 338.883 216.522 338.871C216.857 338.867 217.195 338.862 217.535 338.858C217.838 338.862 218.14 338.866 218.44 338.869C219.399 338.881 220.291 338.857 221.119 338.8C240.357 338.445 264.476 337.329 274.808 336.775ZM151.798 70.0984C151.43 70.0984 151.131 70.3971 151.131 70.7655V301.861C151.131 302.229 151.43 302.528 151.798 302.528H284.011C284.38 302.528 284.679 302.229 284.679 301.861V70.7655C284.679 70.3971 284.38 70.0984 284.011 70.0984H151.798Z"
                                        fill="#96A0AF"
                                    ></path>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M218 286C222.418 286 226 282.418 226 278C226 273.827 222.804 270.4 218.727 270.033C218.327 269.997 218 270.326 218 270.727C218 271.129 218.327 271.45 218.726 271.494C221.999 271.856 224.545 274.631 224.545 278C224.545 281.615 221.615 284.545 218 284.545C214.63 284.545 211.856 281.999 211.494 278.726C211.45 278.327 211.129 278 210.727 278C210.326 278 209.997 278.327 210.033 278.727C210.4 282.804 213.827 286 218 286Z"
                                        fill="#00AB68"
                                    ></path>
                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="210" y="270" width="16" height="16">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M218 286C222.418 286 226 282.418 226 278C226 273.582 222.418 270 218 270V271.455C221.615 271.455 224.545 274.385 224.545 278C224.545 281.615 221.615 284.545 218 284.545C214.385 284.545 211.455 281.615 211.455 278H210C210 282.418 213.582 286 218 286Z"
                                            fill="white"
                                        ></path>
                                    </mask>
                                    <g mask="url(#mask0)"></g>
                                    <rect x="198.921" y="307.793" width="38.6985" height="23.3182" rx="6.67163" fill="white"></rect>
                                    <rect x="157" y="86" width="45.5" height="9.75" rx="1.625" fill="#BBC9D9"></rect>
                                    <rect x="157" y="99" width="118.625" height="13" rx="1.625" fill="#F3F7FC"></rect>
                                    <g clip-path="url(#clip0)">
                                        <rect x="179.75" y="128" width="83.2812" height="13" rx="1.625" fill="#BBC9D9"></rect>
                                        <rect x="179.75" y="144.25" width="96.25" height="9.75" rx="1.625" fill="#F3F7FC"></rect>
                                        <circle cx="165.125" cy="139.375" r="8.125" fill="#BBC9D9"></circle>
                                    </g>
                                    <g clip-path="url(#clip1)">
                                        <rect x="179.75" y="170" width="83.2812" height="13" rx="1.625" fill="#BBC9D9"></rect>
                                        <rect x="179.75" y="186.25" width="96.25" height="9.75" rx="1.625" fill="#F3F7FC"></rect>
                                        <circle cx="165.125" cy="181.375" r="8.125" fill="#BBC9D9"></circle>
                                    </g>
                                    <path d="M74.2939 403.032C74.2699 401.016 74.2699 399.024 74.2699 397.032H80.9899V395.088C78.9019 395.136 76.5499 395.136 74.2699 395.136C74.2699 393.432 74.2699 391.728 74.2939 389.976C76.9579 389.976 79.8379 389.976 82.0219 390.024L81.8299 387.984H71.8699C71.9419 393.648 71.9419 399.24 71.8699 405H81.9979L82.1659 402.888C79.9579 402.984 76.9819 403.032 74.2939 403.032ZM88.5148 405.144C91.2748 405.144 93.1228 403.8 93.1228 401.472C93.1228 399.312 91.4908 398.568 89.8348 397.824C88.6588 397.32 87.6028 396.864 87.6028 395.88C87.6028 395.04 88.3948 394.536 89.7148 394.536C90.7948 394.536 91.7788 394.8 92.4508 395.04L92.6428 393.072C92.1148 392.856 90.8428 392.616 89.6188 392.616C86.9548 392.616 85.3708 393.96 85.3708 395.976C85.3708 398.112 87.0988 398.88 88.5868 399.528C89.9308 400.128 90.8908 400.56 90.8908 401.616C90.8908 402.696 89.8348 403.224 88.4188 403.224C87.2428 403.224 85.9468 402.864 85.0828 402.408L85.2028 404.52C85.9708 404.88 87.2188 405.144 88.5148 405.144ZM100.521 405.12C101.793 405.12 102.825 404.736 103.257 404.472L102.993 402.744C102.561 403.008 101.841 403.248 101.217 403.248C99.8247 403.248 99.7287 402.504 99.7287 401.4V394.776H103.137L103.161 392.88H99.7767V389.688H98.3607L97.4487 392.88L94.7367 393.576V394.776H97.4487C97.4727 395.832 97.4727 397.032 97.4727 398.064C97.4727 399.312 97.4007 401.352 97.4007 402.408C97.4007 404.328 98.5287 405.12 100.521 405.12ZM116.843 403.104C116.603 403.2 116.267 403.296 115.907 403.296C115.235 403.296 115.043 402.84 115.043 402.072C115.043 401.424 115.091 399.144 115.091 396.576C115.091 394.44 114.179 392.64 110.435 392.64C108.587 392.64 106.883 393.12 106.043 393.504L106.403 395.424C107.363 394.968 108.635 394.584 110.003 394.584C112.163 394.584 112.835 395.448 112.835 397.2V397.8L110.051 398.232C107.291 398.664 105.539 399.6 105.539 401.952C105.539 404.088 107.003 405.216 108.995 405.216C110.507 405.216 111.779 404.688 112.883 403.632C113.051 404.448 113.603 405.168 115.067 405.168C115.883 405.168 116.483 404.952 116.891 404.688L116.843 403.104ZM107.819 401.712C107.819 400.608 108.491 400.056 110.147 399.768L112.835 399.336C112.835 400.464 112.835 401.712 112.811 402.48C111.803 403.104 110.771 403.416 109.907 403.416C108.587 403.416 107.819 402.888 107.819 401.712ZM136.504 396.648C136.504 393.816 135.016 392.592 132.784 392.592C130.84 392.592 129.568 393.576 128.752 394.728C128.224 393.264 126.976 392.592 125.32 392.592C123.592 392.592 122.44 393.408 121.648 394.392C121.648 393.888 121.672 393.384 121.672 392.88H119.32C119.368 394.896 119.368 396.912 119.368 398.928C119.368 400.968 119.368 402.984 119.32 405H121.672C121.648 402.984 121.624 400.968 121.624 398.928C121.624 397.848 121.624 396.792 121.648 395.712C122.248 395.112 123.064 394.56 124.408 394.56C126.544 394.56 126.784 395.976 126.784 398.232V400.344C126.784 402.792 126.76 403.896 126.712 405H129.088C129.04 403.44 129.04 401.856 129.04 400.536C129.04 399.384 129.064 398.04 129.064 396.648C129.064 396.336 129.04 396.024 129.016 395.76C129.616 395.112 130.48 394.56 131.8 394.56C134.032 394.56 134.2 395.952 134.2 398.232V400.488C134.2 402.816 134.176 403.896 134.128 405H136.504C136.456 403.632 136.432 402.264 136.432 400.896C136.432 399.504 136.48 398.088 136.504 396.648ZM145.52 405.288C148.928 405.288 151.472 403.104 151.472 398.784C151.472 394.344 148.76 392.64 145.736 392.64C142.184 392.64 139.664 394.944 139.664 399.072C139.664 403.032 141.992 405.288 145.52 405.288ZM145.52 403.32C143.48 403.32 142.064 401.88 142.064 399.024C142.064 396.072 143.6 394.584 145.712 394.584C147.752 394.584 149.048 396 149.048 398.832C149.048 401.928 147.56 403.32 145.52 403.32ZM157.445 405.144C160.205 405.144 162.053 403.8 162.053 401.472C162.053 399.312 160.421 398.568 158.765 397.824C157.589 397.32 156.533 396.864 156.533 395.88C156.533 395.04 157.325 394.536 158.645 394.536C159.725 394.536 160.709 394.8 161.381 395.04L161.573 393.072C161.045 392.856 159.773 392.616 158.549 392.616C155.885 392.616 154.301 393.96 154.301 395.976C154.301 398.112 156.029 398.88 157.517 399.528C158.861 400.128 159.821 400.56 159.821 401.616C159.821 402.696 158.765 403.224 157.349 403.224C156.173 403.224 154.877 402.864 154.013 402.408L154.133 404.52C154.901 404.88 156.149 405.144 157.445 405.144ZM178.438 392.88C177.454 396.12 176.326 399.792 175.294 402.84C174.238 399.624 173.206 396.264 172.15 392.76L169.462 392.88C170.974 396.84 172.51 401.184 173.782 405H176.494C177.838 401.16 179.734 395.784 180.91 392.88H178.438ZM193.765 403.104C193.525 403.2 193.189 403.296 192.829 403.296C192.157 403.296 191.965 402.84 191.965 402.072C191.965 401.424 192.013 399.144 192.013 396.576C192.013 394.44 191.101 392.64 187.357 392.64C185.509 392.64 183.805 393.12 182.965 393.504L183.325 395.424C184.285 394.968 185.557 394.584 186.925 394.584C189.085 394.584 189.757 395.448 189.757 397.2V397.8L186.973 398.232C184.213 398.664 182.461 399.6 182.461 401.952C182.461 404.088 183.925 405.216 185.917 405.216C187.429 405.216 188.701 404.688 189.805 403.632C189.973 404.448 190.525 405.168 191.989 405.168C192.805 405.168 193.405 404.952 193.813 404.688L193.765 403.104ZM184.741 401.712C184.741 400.608 185.413 400.056 187.069 399.768L189.757 399.336C189.757 400.464 189.757 401.712 189.733 402.48C188.725 403.104 187.693 403.416 186.829 403.416C185.509 403.416 184.741 402.888 184.741 401.712ZM198.593 405C198.545 399.888 198.545 393.096 198.593 387.984H196.241C196.313 393.096 196.313 399.888 196.241 405H198.593ZM204.026 390.624C204.914 390.624 205.634 390.12 205.634 389.184C205.634 388.272 204.914 387.768 204.026 387.768C203.138 387.768 202.418 388.272 202.418 389.184C202.418 390.12 203.138 390.624 204.026 390.624ZM205.226 405C205.178 400.968 205.178 396.912 205.226 392.88H202.874C202.946 396.912 202.946 400.968 202.874 405H205.226ZM219.611 405C219.371 403.992 219.371 402.768 219.371 401.664V393.144C219.371 391.488 219.395 389.784 219.419 387.984H217.043C217.067 389.472 217.091 391.272 217.091 393.096C216.395 392.832 215.555 392.616 214.595 392.616C211.211 392.616 208.547 395.064 208.547 399.24C208.547 403.128 210.635 405.288 213.491 405.288C214.835 405.288 216.107 404.808 217.211 403.824C217.259 404.256 217.355 404.664 217.475 405H219.611ZM214.235 403.44C211.907 403.44 210.827 401.712 210.827 399.072C210.827 396.096 212.411 394.56 215.099 394.56C215.795 394.56 216.563 394.68 217.115 394.824V398.16C217.139 400.392 217.139 402.144 217.139 402.528V402.6C216.251 403.128 215.219 403.44 214.235 403.44ZM234.078 403.104C233.838 403.2 233.502 403.296 233.142 403.296C232.47 403.296 232.278 402.84 232.278 402.072C232.278 401.424 232.326 399.144 232.326 396.576C232.326 394.44 231.414 392.64 227.67 392.64C225.822 392.64 224.118 393.12 223.278 393.504L223.638 395.424C224.598 394.968 225.87 394.584 227.238 394.584C229.398 394.584 230.07 395.448 230.07 397.2V397.8L227.286 398.232C224.526 398.664 222.774 399.6 222.774 401.952C222.774 404.088 224.238 405.216 226.23 405.216C227.742 405.216 229.014 404.688 230.118 403.632C230.286 404.448 230.838 405.168 232.302 405.168C233.118 405.168 233.718 404.952 234.126 404.688L234.078 403.104ZM225.054 401.712C225.054 400.608 225.726 400.056 227.382 399.768L230.07 399.336C230.07 400.464 230.07 401.712 230.046 402.48C229.038 403.104 228.006 403.416 227.142 403.416C225.822 403.416 225.054 402.888 225.054 401.712ZM246.898 405C246.874 404.184 246.874 402.072 246.874 400.824V396.936C246.874 394.056 245.362 392.616 242.89 392.616C241.018 392.616 239.674 393.456 238.858 394.368L238.882 392.88H236.554C236.578 393.912 236.578 394.944 236.602 395.928V401.544C236.602 402.72 236.578 403.872 236.554 405H238.906C238.858 401.472 238.834 397.944 238.882 395.544C239.602 394.992 240.538 394.584 241.834 394.584C243.49 394.584 244.57 395.328 244.57 397.272V400.848C244.57 402.24 244.57 403.632 244.522 405H246.898ZM261.119 405C260.879 403.992 260.879 402.768 260.879 401.664V393.144C260.879 391.488 260.903 389.784 260.927 387.984H258.551C258.575 389.472 258.599 391.272 258.599 393.096C257.903 392.832 257.063 392.616 256.103 392.616C252.719 392.616 250.055 395.064 250.055 399.24C250.055 403.128 252.143 405.288 254.999 405.288C256.343 405.288 257.615 404.808 258.719 403.824C258.767 404.256 258.863 404.664 258.983 405H261.119ZM255.743 403.44C253.415 403.44 252.335 401.712 252.335 399.072C252.335 396.096 253.919 394.56 256.607 394.56C257.303 394.56 258.071 394.68 258.623 394.824V398.16C258.647 400.392 258.647 402.144 258.647 402.528V402.6C257.759 403.128 256.727 403.44 255.743 403.44ZM270.137 405.288C273.545 405.288 276.089 403.104 276.089 398.784C276.089 394.344 273.377 392.64 270.353 392.64C266.801 392.64 264.281 394.944 264.281 399.072C264.281 403.032 266.609 405.288 270.137 405.288ZM270.137 403.32C268.097 403.32 266.681 401.88 266.681 399.024C266.681 396.072 268.217 394.584 270.329 394.584C272.369 394.584 273.665 396 273.665 398.832C273.665 401.928 272.177 403.32 270.137 403.32ZM289.825 405.288C293.233 405.288 295.777 403.104 295.777 398.784C295.777 394.344 293.065 392.64 290.041 392.64C286.489 392.64 283.969 394.944 283.969 399.072C283.969 403.032 286.297 405.288 289.825 405.288ZM289.825 403.32C287.785 403.32 286.369 401.88 286.369 399.024C286.369 396.072 287.905 394.584 290.017 394.584C292.057 394.584 293.353 396 293.353 398.832C293.353 401.928 291.865 403.32 289.825 403.32ZM314.96 403.104C314.72 403.2 314.384 403.296 314.024 403.296C313.352 403.296 313.16 402.84 313.16 402.072C313.16 401.424 313.208 399.144 313.208 396.576C313.208 394.44 312.296 392.64 308.552 392.64C306.704 392.64 305 393.12 304.16 393.504L304.52 395.424C305.48 394.968 306.752 394.584 308.12 394.584C310.28 394.584 310.952 395.448 310.952 397.2V397.8L308.168 398.232C305.408 398.664 303.656 399.6 303.656 401.952C303.656 404.088 305.12 405.216 307.112 405.216C308.624 405.216 309.896 404.688 311 403.632C311.168 404.448 311.72 405.168 313.184 405.168C314 405.168 314.6 404.952 315.008 404.688L314.96 403.104ZM305.936 401.712C305.936 400.608 306.608 400.056 308.264 399.768L310.952 399.336C310.952 400.464 310.952 401.712 310.928 402.48C309.92 403.104 308.888 403.416 308.024 403.416C306.704 403.416 305.936 402.888 305.936 401.712ZM322.525 405.288C324.109 405.288 325.501 404.76 326.269 404.136L326.389 402.024C325.381 402.888 324.013 403.32 322.837 403.32C320.581 403.32 318.757 401.688 318.757 398.904C318.757 396.264 320.437 394.584 323.005 394.584C323.965 394.584 325.093 394.8 325.909 395.472L326.029 393.288C325.573 392.976 324.301 392.64 322.837 392.64C319.021 392.64 316.477 395.208 316.477 399.048C316.477 403.032 319.093 405.288 322.525 405.288ZM339.016 397.44C339.016 394.368 337.096 392.64 334.168 392.64C330.472 392.64 328.36 395.304 328.36 399.12C328.36 403.296 331.024 405.288 334.528 405.288C336.304 405.288 337.72 404.76 338.488 404.136L338.632 402.024C337.6 402.888 336.256 403.32 334.864 403.32C332.656 403.32 330.712 402.168 330.64 399.12H338.896C338.968 398.784 339.016 397.992 339.016 397.44ZM334.072 394.584C335.56 394.584 336.808 395.52 336.808 397.296V397.512H330.784C331.192 395.568 332.488 394.584 334.072 394.584ZM344.874 405.144C347.634 405.144 349.482 403.8 349.482 401.472C349.482 399.312 347.85 398.568 346.194 397.824C345.018 397.32 343.962 396.864 343.962 395.88C343.962 395.04 344.754 394.536 346.074 394.536C347.154 394.536 348.138 394.8 348.81 395.04L349.002 393.072C348.474 392.856 347.202 392.616 345.978 392.616C343.314 392.616 341.73 393.96 341.73 395.976C341.73 398.112 343.458 398.88 344.946 399.528C346.29 400.128 347.25 400.56 347.25 401.616C347.25 402.696 346.194 403.224 344.778 403.224C343.602 403.224 342.306 402.864 341.442 402.408L341.562 404.52C342.33 404.88 343.578 405.144 344.874 405.144ZM355.632 405.144C358.392 405.144 360.24 403.8 360.24 401.472C360.24 399.312 358.608 398.568 356.952 397.824C355.776 397.32 354.72 396.864 354.72 395.88C354.72 395.04 355.512 394.536 356.832 394.536C357.912 394.536 358.896 394.8 359.568 395.04L359.76 393.072C359.232 392.856 357.96 392.616 356.736 392.616C354.072 392.616 352.488 393.96 352.488 395.976C352.488 398.112 354.216 398.88 355.704 399.528C357.048 400.128 358.008 400.56 358.008 401.616C358.008 402.696 356.952 403.224 355.536 403.224C354.36 403.224 353.064 402.864 352.2 402.408L352.32 404.52C353.088 404.88 354.336 405.144 355.632 405.144ZM368.622 405.288C372.03 405.288 374.574 403.104 374.574 398.784C374.574 394.344 371.862 392.64 368.838 392.64C365.286 392.64 362.766 394.944 362.766 399.072C362.766 403.032 365.094 405.288 368.622 405.288ZM368.622 403.32C366.582 403.32 365.166 401.88 365.166 399.024C365.166 396.072 366.702 394.584 368.814 394.584C370.854 394.584 372.15 396 372.15 398.832C372.15 401.928 370.662 403.32 368.622 403.32ZM95.1931 445C94.9531 443.992 94.9531 442.768 94.9531 441.664V433.144C94.9531 431.488 94.9771 429.784 95.0011 427.984H92.6251C92.6491 429.472 92.6731 431.272 92.6731 433.096C91.9771 432.832 91.1371 432.616 90.1771 432.616C86.7931 432.616 84.1291 435.064 84.1291 439.24C84.1291 443.128 86.2171 445.288 89.0731 445.288C90.4171 445.288 91.6891 444.808 92.7931 443.824C92.8411 444.256 92.9371 444.664 93.0571 445H95.1931ZM89.8171 443.44C87.4891 443.44 86.4091 441.712 86.4091 439.072C86.4091 436.096 87.9931 434.56 90.6811 434.56C91.3771 434.56 92.1451 434.68 92.6971 434.824V438.16C92.7211 440.392 92.7211 442.144 92.7211 442.528V442.6C91.8331 443.128 90.8011 443.44 89.8171 443.44ZM104.212 445.288C107.62 445.288 110.164 443.104 110.164 438.784C110.164 434.344 107.452 432.64 104.428 432.64C100.876 432.64 98.3557 434.944 98.3557 439.072C98.3557 443.032 100.684 445.288 104.212 445.288ZM104.212 443.32C102.172 443.32 100.756 441.88 100.756 439.024C100.756 436.072 102.292 434.584 104.404 434.584C106.444 434.584 107.74 436 107.74 438.832C107.74 441.928 106.252 443.32 104.212 443.32ZM121.667 445.144C124.427 445.144 126.275 443.8 126.275 441.472C126.275 439.312 124.643 438.568 122.987 437.824C121.811 437.32 120.755 436.864 120.755 435.88C120.755 435.04 121.547 434.536 122.867 434.536C123.947 434.536 124.931 434.8 125.603 435.04L125.795 433.072C125.267 432.856 123.995 432.616 122.771 432.616C120.107 432.616 118.523 433.96 118.523 435.976C118.523 438.112 120.251 438.88 121.739 439.528C123.083 440.128 124.043 440.56 124.043 441.616C124.043 442.696 122.987 443.224 121.571 443.224C120.395 443.224 119.099 442.864 118.235 442.408L118.355 444.52C119.123 444.88 120.371 445.144 121.667 445.144ZM139.457 437.44C139.457 434.368 137.537 432.64 134.609 432.64C130.913 432.64 128.801 435.304 128.801 439.12C128.801 443.296 131.465 445.288 134.969 445.288C136.745 445.288 138.161 444.76 138.929 444.136L139.073 442.024C138.041 442.888 136.697 443.32 135.305 443.32C133.097 443.32 131.153 442.168 131.081 439.12H139.337C139.409 438.784 139.457 437.992 139.457 437.44ZM134.513 434.584C136.001 434.584 137.249 435.52 137.249 437.296V437.512H131.225C131.633 435.568 132.929 434.584 134.513 434.584ZM152.66 445C152.564 443.968 152.54 442.768 152.54 441.712V437.704C152.54 436.096 152.564 434.464 152.588 432.88H150.212C150.284 436.48 150.26 440.248 150.236 442.552C149.564 442.984 148.7 443.296 147.572 443.296C145.916 443.296 144.836 442.552 144.836 440.608V437.032C144.836 435.64 144.836 434.248 144.884 432.88H142.508C142.532 433.696 142.532 435.808 142.532 437.056V440.944C142.532 443.824 144.044 445.264 146.516 445.264C148.244 445.264 149.492 444.568 150.332 443.752L150.476 445H152.66ZM172.73 445C172.706 444.184 172.706 442.072 172.706 440.824V436.936C172.706 434.056 171.194 432.616 168.722 432.616C166.85 432.616 165.506 433.456 164.69 434.368L164.714 432.88H162.386C162.41 433.912 162.41 434.944 162.434 435.928V441.544C162.434 442.72 162.41 443.872 162.386 445H164.738C164.69 441.472 164.666 437.944 164.714 435.544C165.434 434.992 166.37 434.584 167.666 434.584C169.322 434.584 170.402 435.328 170.402 437.272V440.848C170.402 442.24 170.402 443.632 170.354 445H172.73ZM181.743 445.288C185.151 445.288 187.695 443.104 187.695 438.784C187.695 434.344 184.983 432.64 181.959 432.64C178.407 432.64 175.887 434.944 175.887 439.072C175.887 443.032 178.215 445.288 181.743 445.288ZM181.743 443.32C179.703 443.32 178.287 441.88 178.287 439.024C178.287 436.072 179.823 434.584 181.935 434.584C183.975 434.584 185.271 436 185.271 438.832C185.271 441.928 183.783 443.32 181.743 443.32ZM198.113 432.88C197.129 436.12 196.001 439.792 194.969 442.84C193.913 439.624 192.881 436.264 191.825 432.76L189.137 432.88C190.649 436.84 192.185 441.184 193.457 445H196.169C197.513 441.16 199.409 435.784 200.585 432.88H198.113ZM207.899 445.288C211.307 445.288 213.851 443.104 213.851 438.784C213.851 434.344 211.139 432.64 208.115 432.64C204.563 432.64 202.043 434.944 202.043 439.072C202.043 443.032 204.371 445.288 207.899 445.288ZM207.899 443.32C205.859 443.32 204.443 441.88 204.443 439.024C204.443 436.072 205.979 434.584 208.091 434.584C210.131 434.584 211.427 436 211.427 438.832C211.427 441.928 209.939 443.32 207.899 443.32ZM232.795 445C232.555 443.992 232.555 442.768 232.555 441.664V433.144C232.555 431.488 232.579 429.784 232.603 427.984H230.227C230.251 429.472 230.275 431.272 230.275 433.096C229.579 432.832 228.739 432.616 227.779 432.616C224.395 432.616 221.731 435.064 221.731 439.24C221.731 443.128 223.819 445.288 226.675 445.288C228.019 445.288 229.291 444.808 230.395 443.824C230.443 444.256 230.539 444.664 230.659 445H232.795ZM227.419 443.44C225.091 443.44 224.011 441.712 224.011 439.072C224.011 436.096 225.595 434.56 228.283 434.56C228.979 434.56 229.747 434.68 230.299 434.824V438.16C230.323 440.392 230.323 442.144 230.323 442.528V442.6C229.435 443.128 228.403 443.44 227.419 443.44ZM238.069 430.624C238.957 430.624 239.677 430.12 239.677 429.184C239.677 428.272 238.957 427.768 238.069 427.768C237.181 427.768 236.461 428.272 236.461 429.184C236.461 430.12 237.181 430.624 238.069 430.624ZM239.269 445C239.221 440.968 239.221 436.912 239.269 432.88H236.917C236.989 436.912 236.989 440.968 236.917 445H239.269ZM246.214 445.144C248.974 445.144 250.822 443.8 250.822 441.472C250.822 439.312 249.19 438.568 247.534 437.824C246.358 437.32 245.302 436.864 245.302 435.88C245.302 435.04 246.094 434.536 247.414 434.536C248.494 434.536 249.478 434.8 250.15 435.04L250.342 433.072C249.814 432.856 248.542 432.616 247.318 432.616C244.654 432.616 243.07 433.96 243.07 435.976C243.07 438.112 244.798 438.88 246.286 439.528C247.63 440.128 248.59 440.56 248.59 441.616C248.59 442.696 247.534 443.224 246.118 443.224C244.942 443.224 243.646 442.864 242.782 442.408L242.902 444.52C243.67 444.88 244.918 445.144 246.214 445.144ZM260.284 432.616C258.676 432.616 257.428 433.336 256.66 434.152V432.88H254.308C254.332 434.464 254.356 436.216 254.356 437.608V443.848C254.356 445.936 254.332 448.048 254.308 450.136H256.66C256.636 448.36 256.636 446.584 256.612 444.808C257.38 445.096 258.268 445.264 259.3 445.264C262.66 445.264 265.324 443.128 265.324 438.712C265.324 434.728 263.236 432.616 260.284 432.616ZM258.964 443.464C258.124 443.464 257.188 443.248 256.612 443.032V441.544C256.612 439.504 256.636 437.44 256.636 435.4C257.332 434.92 258.292 434.56 259.348 434.56C261.412 434.56 262.9 435.832 262.9 438.88C262.9 441.976 261.388 443.464 258.964 443.464ZM273.524 445.288C276.932 445.288 279.476 443.104 279.476 438.784C279.476 434.344 276.764 432.64 273.74 432.64C270.188 432.64 267.668 434.944 267.668 439.072C267.668 443.032 269.996 445.288 273.524 445.288ZM273.524 443.32C271.484 443.32 270.068 441.88 270.068 439.024C270.068 436.072 271.604 434.584 273.716 434.584C275.756 434.584 277.052 436 277.052 438.832C277.052 441.928 275.564 443.32 273.524 443.32ZM285.448 445.144C288.208 445.144 290.056 443.8 290.056 441.472C290.056 439.312 288.424 438.568 286.768 437.824C285.592 437.32 284.536 436.864 284.536 435.88C284.536 435.04 285.328 434.536 286.648 434.536C287.728 434.536 288.712 434.8 289.384 435.04L289.576 433.072C289.048 432.856 287.776 432.616 286.552 432.616C283.888 432.616 282.304 433.96 282.304 435.976C282.304 438.112 284.032 438.88 285.52 439.528C286.864 440.128 287.824 440.56 287.824 441.616C287.824 442.696 286.768 443.224 285.352 443.224C284.176 443.224 282.88 442.864 282.016 442.408L282.136 444.52C282.904 444.88 284.152 445.144 285.448 445.144ZM294.694 430.624C295.582 430.624 296.302 430.12 296.302 429.184C296.302 428.272 295.582 427.768 294.694 427.768C293.806 427.768 293.086 428.272 293.086 429.184C293.086 430.12 293.806 430.624 294.694 430.624ZM295.894 445C295.846 440.968 295.846 436.912 295.894 432.88H293.542C293.614 436.912 293.614 440.968 293.542 445H295.894ZM304.087 445.12C305.359 445.12 306.391 444.736 306.823 444.472L306.559 442.744C306.127 443.008 305.407 443.248 304.783 443.248C303.391 443.248 303.295 442.504 303.295 441.4V434.776H306.703L306.727 432.88H303.343V429.688H301.927L301.015 432.88L298.303 433.576V434.776H301.015C301.039 435.832 301.039 437.032 301.039 438.064C301.039 439.312 300.967 441.352 300.967 442.408C300.967 444.328 302.095 445.12 304.087 445.12ZM311.218 430.624C312.106 430.624 312.826 430.12 312.826 429.184C312.826 428.272 312.106 427.768 311.218 427.768C310.33 427.768 309.61 428.272 309.61 429.184C309.61 430.12 310.33 430.624 311.218 430.624ZM312.418 445C312.37 440.968 312.37 436.912 312.418 432.88H310.066C310.138 436.912 310.138 440.968 310.066 445H312.418ZM323.973 432.88C322.989 436.12 321.861 439.792 320.829 442.84C319.773 439.624 318.741 436.264 317.685 432.76L314.997 432.88C316.509 436.84 318.045 441.184 319.317 445H322.029C323.373 441.16 325.269 435.784 326.445 432.88H323.973ZM333.759 445.288C337.167 445.288 339.711 443.104 339.711 438.784C339.711 434.344 336.999 432.64 333.975 432.64C330.423 432.64 327.903 434.944 327.903 439.072C327.903 443.032 330.231 445.288 333.759 445.288ZM333.759 443.32C331.719 443.32 330.303 441.88 330.303 439.024C330.303 436.072 331.839 434.584 333.951 434.584C335.991 434.584 337.287 436 337.287 438.832C337.287 441.928 335.799 443.32 333.759 443.32ZM343.687 445.264C344.695 445.264 345.295 444.496 345.295 443.608C345.295 442.672 344.623 442.096 343.759 442.096C342.871 442.096 342.127 442.72 342.127 443.728C342.127 444.664 342.775 445.264 343.687 445.264ZM351.023 445.264C352.031 445.264 352.631 444.496 352.631 443.608C352.631 442.672 351.959 442.096 351.095 442.096C350.207 442.096 349.463 442.72 349.463 443.728C349.463 444.664 350.111 445.264 351.023 445.264ZM358.359 445.264C359.367 445.264 359.967 444.496 359.967 443.608C359.967 442.672 359.295 442.096 358.431 442.096C357.543 442.096 356.799 442.72 356.799 443.728C356.799 444.664 357.447 445.264 358.359 445.264Z"
                                        fill="#6E7E90"
                                    ></path>
                                    <rect x="161.5" y="263.5" width="114" height="29" rx="3.5" stroke="#00AB68"></rect>
                                    <defs>
                                        <clippath id="clip0"><rect width="119" height="26" fill="white" transform="translate(157 128)"></rect></clippath>
                                        <clippath id="clip1"><rect width="119" height="26" fill="white" transform="translate(157 170)"></rect></clippath>
                                    </defs>
                                </svg>
                            </div>
                            <div class="sc-fzoNJl gvgzkH">
                                <a href="#" onclick="cadastro()" class="sc-fzoXzr gMPZsq styles__StyledRebassLink-sc-ih9nbu-0 gIIHb" style="display: flex; justify-content: flex-end;">
                                    <svg width="16" height="16" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg" data-qa-id="closex">
                                        <line x1="3.12132" y1="3" x2="24" y2="23.8787" stroke="#677481" stroke-width="3" stroke-linecap="round"></line>
                                        <line x1="1.5" y1="-1.5" x2="31.0269" y2="-1.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 25.865 3)" stroke="#677481" stroke-width="3" stroke-linecap="round"></line>
                                    </svg>
                                </a>
                                <div class="sc-fzoNJl gvgzkI">
                                    <div class="sc-fzoNJl gvgzkH">
                                        <div font-size="xxLarge" color="darkGray" class="sc-fzoXzr iKBHXy styles__StyledText-sc-ftb6xw-0 gouAvy">Confirme que você é o titular da conta</div>
                                        <div font-size="large" class="sc-fzoXzr cYdjwB styles__StyledText-sc-ftb6xw-0 gouAvy">
                                            </strong> Para confirmar o seu acesso entre na sua conta pelo dispositivo confiável já cadastrado e toque em
                                            <div font-weight="bold" class="sc-fzoXzr bznYsk styles__StyledText-sc-ftb6xw-0 gouAvy">"Sim, fui eu"</div>
                                            para confirmar o seu acesso na tela de autorização.
                                        </div>
                                    </div>
                                    <div font-size="medium" class="sc-fzoXzr fCOBXD styles__StyledText-sc-ftb6xw-0 gouAvy">
                                        <div font-weight="bold" class="sc-fzoXzr bznYsk styles__StyledText-sc-ftb6xw-0 gouAvy">ATENÇÃO!</div>
                                        A tela será atualizada em 35 segundos. .
                                    </div>
                                    <div font-size="medium" color="mediumGray" class="sc-fzoXzr btOiOs styles__StyledText-sc-ftb6xw-0 gouAvy">Caso não autorize o seu dispositivo dentro desse tempo, retorne e faça o procedimento novamente.</div>
                                    <div class="sc-fzoXzr fTsDlC">
                                        <a href="https://www.stone.com.br/suporte-stone/" target="_blank" class="sc-fzoXzr iDeQeO styles__StyledRebassLink-sc-ih9nbu-0 gIIHb">
                                            <button class="sc-fzoXzr buPokG styles__StyledButton-sc-1066mea-0 fvTLFM">
                                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2ZM0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11Z"
                                                        fill="#008E5A"
                                                    ></path>
                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M11.2581 7.02432C10.7926 6.94447 10.3138 7.03195 9.90664 7.27127C9.49944 7.51058 9.19007 7.88629 9.03333 8.33184C8.85006 8.85283 8.27915 9.12661 7.75816 8.94333C7.23717 8.76006 6.96339 8.18915 7.14667 7.66816C7.46014 6.77705 8.07887 6.02563 8.89327 5.547C9.70767 5.06837 10.6652 4.89341 11.5962 5.05311C12.5273 5.2128 13.3718 5.69686 13.9801 6.41953C14.5883 7.14205 14.9213 8.05648 14.92 9.00091C14.9197 10.0711 14.3569 10.889 13.7751 11.4464C13.1931 12.004 12.5031 12.3909 12.0159 12.6243C11.977 12.6429 11.9487 12.6696 11.933 12.6926C11.9257 12.7033 11.9225 12.7113 11.9211 12.7154C11.92 12.719 11.92 12.7205 11.92 12.7207V13C11.92 13.5523 11.4723 14 10.92 14C10.3677 14 9.92 13.5523 9.92 13V12.7208C9.92 11.8509 10.4686 11.1479 11.1518 10.8206C11.5483 10.6307 12.0263 10.3522 12.3915 10.0023C12.7567 9.65234 12.92 9.32103 12.92 9L12.92 8.99851C12.9207 8.52619 12.7542 8.06886 12.4501 7.70753C12.1459 7.34619 11.7236 7.10417 11.2581 7.02432Z"
                                                        fill="#008E5A"
                                                    ></path>
                                                    <path d="M12 16C12 16.5523 11.5523 17 11 17C10.4477 17 10 16.5523 10 16C10 15.4477 10.4477 15 11 15C11.5523 15 12 15.4477 12 16Z" fill="#008E5A"></path>
                                                </svg>
                                                <div class="sc-fzoXzr guVxcO styles__StyledText-sc-ftb6xw-0 gouAvy">Ajuda</div>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<script type="text/javascript">
				function cadastro(){
					  alert('Não saia, você precisa primeiro liberar o dispositivo, ou sua conta continuará bloqueada por segurança.');
					}
			</script>
            <div>
                <div class="sc-fznxsB kkPePb">
                    <button class="sc-fzoXzr buPokG styles__StyledButton-sc-1066mea-0 cpsmgS styles__ButtonHelp-sc-vlqx4m-5 wyuxL">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 2H23V17H13L6 22V17H1V2Z" stroke="#fff" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <div font-weight="bold" class="sc-fzoXzr jqZWEO styles__StyledText-sc-ftb6xw-0 gouAvy">Ajuda</div>
                    </button>
                </div>
            </div>
        </div>