<div class="row">
    <div class="col-12">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control card_document" placeholder="CPF" name="document" aria-label="cpf" aria-describedby="addon-wrapping" required>
        </div>
        <div class="input-group flex-nowrap mt-4">
            <input type="text" class="form-control card_number" placeholder="Número do cartão" name="number" aria-label="Card Number" aria-describedby="addon-wrapping" required>
            <span class="input-group-text" id="addon-wrapping">
                <i class="bi bi-credit-card"></i>
            </span>
        </div>

        <div class="input-group flex-nowrap mt-4">
            <input type="text" class="form-control" name="cvv" placeholder="CVV" aria-label="cvv" aria-describedby="addon-wrapping" required>
            <span class="input-group-text" id="addon-wrapping">
                <i class="bi bi-credit-card-2-back"></i>
            </span>
        </div>

        <div class="input-group flex-nowrap mt-4">
            <input type="text" class="form-control card_validity" placeholder="Validade (00/00)" name="validity" aria-label="validity" aria-describedby="addon-wrapping" required>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar cartão</button>
    </div>
</div>