<div class="footerForm">
    <div>
        <figure><a href="https://www.bb.com.br/pbb/pagina-inicial/atendimento#/" alt="Links Úteis" title="Links Úteis">
            <img src="/img/brand/icon_contatos_login.png" alt="">
        </a></figure>
        <figure><a href="https://www.bb.com.br/pbb/pagina-inicial/atendimento#/" alt="Requisitos Mínimos" title="Requisitos Mínimos">
            <img src="/img/brand/requisitos-minimo.png" alt="">
        </a></figure>
        <figure><a href="https://www.bb.com.br/pbb/pagina-inicial/atendimento#/" alt="Termos de uso" title="Termos de uso">
            <img src="/img/brand/termos-uso.png" alt="">
        </a></figure>
    </div>
</div>