<div class="container-fluir footerSign">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul>
                    <li>
                        SAC - SERVIÇO DE ATENDIMENTO AO COOPERADO
                        <hr>
                    </li>
                    <li>
                        OUVIDORIA SISTEMA AILOS
                        <hr>
                    </li>

                    <li>
                        <a class="btn btn-block btn-footer" target="blank" href="https://www.viacredi.coop.br/seguranca#conta-online">
                            <i aria-hidden="true" class="mdi mdi-lock-open-outline"></i><span class="btn-text">Segurança</span>
                        </a>
                    </li>

                    <li>
                        <a class="btn btn-block btn-footer" target="blank" href="https://www.viacredi.coop.br/seguranca#conta-online">
                            <i aria-hidden="true" class="mdi mdi-chat-processing-outline"></i><span class="btn-text">Fale Conosco</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>