<ul class="form-top">
    <li class="active">
        <i class="mdi mdi mdi-account-circle"></i>
        <span>Digite sua conta</span>
        <i class="mdi mdi-chevron-right"></i>
    </li>
    <li>
        <i class="mdi mdi mdi-account-circle"></i>
        <span>Identificação</span>
        <i class="mdi mdi-chevron-right"></i>
    </li>
    <li>
        <i class="mdi mdi-lock"></i>
        <span>Senha e frase secreta</span>
    </li>
</ul>