<div class="mainHeader__bg"></div>

<header class="container-fluid mainHeader">
    <div class="container mainHeader__container">
        <div class="row">
            <div class="col-6">
                <a href="#" class="mainHeader__icon"></a>
            </div>
            <div class="col-6"><a href="#" class="mainHeader__help"></a></div>
        </div>
    </div>
</header>