<header class="topbar_nav">
    <div class="topbar_nav__container">
        <div class="logo">
            <figure>
                <img src="/img/brand/logo-viacredi.png" alt="logo">
            </figure>
        </div>
        <div>
            {{date}}
        </div>

    </div>
</header>
