<div class="accountType__options">
    <ul>
        <li value="pessoa-fisica">
            <span>Conta corrente, poupança ou salário</span>
            <small>Para pessoas físicas</small>
        </li>
        <li value="pessoa-juridica">
            <span>Conta corrente empresarial</span>
            <small>Para gerenciar sua empresa</small>
        </li>
        <li value="pessoa-rural">
            <span>Produtor rural/Private</span>
            <small>Para gerenciar sua conta de produtor rural ou cliente private</small>
        </li>
    </ul>
</div>