<header class="formMailMobile">
    Acessar a minha conta
</header>
<article class="formMailMobile__title">
    <span>Conta corrente, poupança ou salário</span>
    <small>Para pessoas físicas</small>
</article>